.edit-form__name {
  margin-top: 46px;
  margin-left: 36px;
  border: none;
  border-bottom: 1px solid #000;
  width: 358px;
  line-height: 17px;
  font-size: 14px;
  color: #000;
  padding: 0;
  padding-bottom: 9px;
}

.edit-form__name:focus {
  outline: none;
}

@media (max-width: 540px) {
  .edit-form__name {
    margin-top: 75px;
    margin-left: 22px;
    width: 238px;
  }
}
