.edit-form__glose {
  display: block;
  width: 32px;
  position: relative;
  bottom: 331px;
  left: 439px;
  cursor: pointer;
  transition: opacity 0.2s;
}

.edit-form__glose:hover {
  opacity: 0.8;
}
