.edit-form_open {
  font-family: Inter, Arial, sans-serif;
  margin: 0;
  position: absolute;
  top: 195px;
  left: calc((100% - 430px) / 2);
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
}

@media (max-width: 540px) {
  .edit-form_open {
    width: 282px;
    height: 322px;
    position: absolute;
    top: 123px;
    left: calc((100% - 282px) / 2);
  }
}
